<ifModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule ajout-de-produits newProducts.php
    RewriteRule connexion login.php
    RewriteRule enregistrement register.php
    RewriteRule accueil index.php
    ErrorDocument 404     /404.php

 </ifModule>
