body{
    background-color: black;
    font-family: 'Merienda', cursive;
    font-weight: bold;

}
/* Taille du container */
.container-fluid{
    width: 100%
}
/* Style de la navbar */
nav{

    z-index:100;
    margin: auto;
    transition: 0.2s;
}
#body{
     width: 100%;
    top:0;
    z-index:1000;
   
    margin: 0;
}
/* Navbar style */
.navbar{
    padding: 0;
    margin: 0;
}
.navbar-header{
    padding-top: 2px;
    height: 20px;
}
.nav-link{
    color: white;}
.nav-link{
    padding: 30px 0;
    color:white;
    font-size: 25px;
}
.navbar-nav{
    padding-left: 2em;
    font-size: 1.1em;
    font-weight: 200;
}
/*Passage sur la navbar.*/

.nav-link:hover{

    background-color: #b30000;
    color: black;
}
.dropdown-menu{
    border-radius: 10%;
    background-color: #800000;
    border-right: 1px solid black;
}
.dropdown:hover .dropdown-menu {
    border-radius: 10%;
    display: block;
    margin-top: 0;
    border-radius:0;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    border-radius: 10%;
    color: white;
    background-color: #072F54;
}
.icon{
    background-color: #333333;
    padding: 5px 5px 5px 0;
}
.form-control, .icon{
    border: none;
    box-shadow: none;
}

@media all and (max-width: 1322px){

    .navbar-header{
        padding: 0;
        height: 100px;
    }
    .nav-link{
        padding: 5px;
    }
    .nav-link:hover{
        background-color: #b30000;

    }
    .blocLienFooter{
        padding-left: 0;
    }
}
.nv2{
    position: absolute;
}
#myBtn{right: 0;
       color:white;
       background-color: inherit;
       border-style: none;
}

.card-text{
    color:white;
    text-align: center;
}
#n1{
    border-radius: 0;
    color: red;
    border-color: inherit;
    width : 100%;
}
#n1:hover{
    background-color:red;
    color:white;
    border-style: none;
}
#Img1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: transition .2s;
}
#imgManga{
    margin-left: auto;
    margin-right: auto;
    transform: transition .2s;
    border-radius: 10%;
}
@media (max-width: 932px){
    #imgManga{
        width: 100%;
    }
}
h3{
    text-align: center;
    color: White;
    font-size: 50px;
}
.cardManga:hover{
    transform: scale(1.05);
}
#btn7{
    bottom: 0;
    display: block;
    position:fixed;
    right:0;
    z-index: 10;
    margin-bottom: 0;
}
footer{
    color:white;
}
form{
    color : white;
    text-align:  center;
}

.cardManga{
    transition: transform .3s;
    border-radius: 20%;
    display: flex;
    margin: auto;
    width: 70%;
    height: 400px;
}
#btn8{
    width:100px;
}
@media (max-width: 932px){
    .cardManga{
        transition:none;
        border-radius: 20%;
        display: flex;
        margin: auto;
        width: 100%
    }
    .cardManga:hover{
        transform: none;
    }
}
.figurineList{
    margin-left: auto;
    margin-right: auto ;
}
.btn-lg{
    width: 100%;
}
@media (max-width: 932px){
    .btn-lg{
        width : 100%;
    }
}
#newUser{
    text-align: center;
    margin-top : 5%;
    color : white;
    box-shadow: 0.5px 0.5px white, -0.5em 0 0.7em white;
}
#userModal{
    color : black;
}
#userModifModal{
    color : black;
}
#formModifUser{
    color : black;
}
.mini-cart-item-word{
    color : white;
}
#infoBoxShadow{
    text-align: center;
    vertical-align: middle;
    margin-top : 5%;
    color : white;
    box-shadow: 0.5px 0.5px white, -0.5em 0 0.7em white;
}
#allUsersProfil{
    text-align: center;
    margin-top : 5%;
    color : white;
    box-shadow: 0.5px 0.5px white, -0.5em 0 0.7em white;
}
#btnDismiss:hover{
    background-color:black;
}
#redirectConnection:hover{
    background-color:black;
}
#userRoleModal{
    color : black;
}
.modal{
    color : black;
}
#modifUserType:hover{
    background-color : #0069D9;
}
#deleteProduct{
    align-content: center;
}